<!DOCTYPE html>
<html>
  <head>
    <!-- EXTERNAL LIBS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://www.google.com/jsapi"></script>

    <!-- EXAMPLE SCRIPT -->
    <script>
      var weatherDataUrl = 'api/weather/'

      function convertPressureToAltitude(millibars)
      {
        return (1-Math.pow(millibars/1013.25,0.190284))*145366.45;
      }

      // onload callback
      function drawChart() {

        // JSONP request
        var jsonData = $.ajax({
          url: weatherDataUrl,
          dataType: 'json',
        }).done(function (results) {

          var data = new google.visualization.DataTable();

          data.addColumn('datetime', 'Time');
          data.addColumn('number', 'Temp');
          data.addColumn('number', 'Humidity');
          data.addColumn('number', 'Altitude');

          $.each(results, function (i, row) {
            data.addRow([
              new Date(row.time)
              ,parseFloat(row.temp)
              ,parseFloat(row.humid)
              ,parseFloat(convertPressureToAltitude(row.press)/100)
            ]);
          });

          var chart = new google.charts.Line($('#chart').get(0));

          chart.draw(data, {
            title: 'Weather Station',
            curveType: 'function',
          });

        });

      }

      // load chart lib
      google.load('visualization', '1', {
        packages: ['line']
      });

      // call drawChart once google charts is loaded
      google.setOnLoadCallback(drawChart);

    </script>

  </head>
  <body>
    <div id="chart" style="width: 100%;"></div>
  </body>
</html>
