<!DOCTYPE html>
<html>
  <head>
    <!-- EXTERNAL LIBS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://www.google.com/jsapi"></script>

    <!-- EXAMPLE SCRIPT -->
    <script>
      var weatherDataUrl = 'api/weather/'

      // onload callback
      function drawChart() {
        
        // JSONP request
        var jsonData = $.ajax({
          url: weatherDataUrl,
          dataType: 'json',
        }).done(function (results) {

          var data = new google.visualization.DataTable();

          data.addColumn('datetime', 'Time');
          data.addColumn('number', 'Temp');
          data.addColumn('number', 'Humidity');
          data.addColumn('number', 'Pressure');

          $.each(results, function (i, row) {
            data.addRow([
              (new Date(row.time)),
              parseFloat(row.temp),
              parseFloat(row.humid),
              parseFloat(row.press)
            ]);
          });

          var chart = new google.visualization.LineChart($('#chart').get(0));

          chart.draw(data, {
            title: 'Weather Station'
          });

        });

      }

      // load chart lib
      google.load('visualization', '1', {
        packages: ['corechart']
      });

      // call drawChart once google charts is loaded
      google.setOnLoadCallback(drawChart);

    </script>

  </head>
  <body>
    <div id="chart" style="width: 100%;"></div>
  </body>
</html>
